.cell {
    background:#FFFFFF;
    padding:8px;
    text-align:center;
    vertical-align:middle;
    /*font-weight:300;*/
    /*font-size:15px;*/
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    /*border-right: 1px solid #C1C3D1;*/
    width: 100%;
    border-top: 0.5px solid lightgray;
    border-bottom: 0.5px solid lightgray;
}